/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o topo da página */
.topo {
    height: 15vh; /* 15% da altura da viewport */
    background-color: beige;
}

/* Estilo para o restante da página */
.conteudo {
    height: 85vh; /* 85% da altura da viewport */
    background-color: lightblue;
}



/* Estilo para a imagem circular */
.imagem-circular {
    width: 150px; /* Tamanho da imagem */
    height: 150px; /* Tamanho da imagem */
    border-radius: 50%; /* Torna a imagem circular */
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites do círculo */
    position: absolute; /* Posiciona a imagem absolutamente */
    top:15%; /* Coloca a imagem no final da div .topo */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta o posicionamento para o centro exato */
}

.imagem-circular img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra todo o espaço do círculo */
}

.rodape {
    height: 15vh; /* 15% da altura da viewport */
    background-color: black; /* Cor de fundo preta */
}

